	    <div class="pratica" >
	      <table width="100%"  border="0" cellspacing="1">
              <tr>
                <th width="100%" colspan="2" align="left"><span class="pratica-tit"> %[FILENAME]%.%[EXT]% <!--%[VERSION-TITLE]% %[VERSION]%--></span></th>
		         </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'" colspan="2">%[DESCR-TITLE]%: <span class="pratica-resalt-01">%[DESCR]%</span></td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[OPERATORE-TITLE]%: <strong>%[OPERATORE]%</strong></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[DATA-TITLE]%: <span class="pratica-resalt-01"><strong>%[DATA]%</strong></span></td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[REF_PRAT-TITLE]%: <strong>%[REF_PRAT]%</strong></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'"><strong>%[NOTE-TITLE]%:</strong>%[NOTE]%</td>
              </tr>
              <tr>
              <th colspan="2" align="center"><b>%[DOC_HIST-TITLE]%</b></th>
              </tr>
              <tr>
                <td width="100%" colspan="2" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[HISTORY-TITLE]%</td>
              </tr>
                  </table>
	      <p align="center">%[BUTTON_V-TITLE]% | %[BUTTON_W-TITLE]% | %[BUTTON_D-TITLE]%</p>
	      <p align="center">%[BUTTON_PRAT-TITLE]%  |  %[BUTTON_PRES-TITLE]%  |  %[BUTTON_SCAD-TITLE]%  | %[BUTTON_DOC-TITLE]% <!--| %[BUTTON_DBOX-TITLE]%--> </p>
	    </div>
