	    <div class="pratica" >
	      <table width="100%"  border="0" cellspacing="1">
              <tr>
                <th width="50%" align="left">Codice:<span class="pratica-tit"> %[PR_CODICE]%</span></th>
                <th width="50%" align="right">Numero: <span class="pratica-tit">407</span></th>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_DATA_INS-TITLE]%: <span class="pratica-resalt-01">%[PR_DATA_INS]%</span></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_DATA_MOD-TITLE]%: <span class="pratica-resalt-01">%[PR_DATA_MOD]%</span></td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_DATA_INIZIO-TITLE]%: <strong>%[PR_DATA_INIZIO]%</strong></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_CLIENTE-TITLE]%: <strong>%[PR_CLIENTE]%</strong> <span class="pratica-resalt-01">(FARMAFACTORING Spa)</span></td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_OGGETTO-TITLE]%: <strong>%[PR_OGGETTO]%</strong></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'"><strong>Boh</strong></td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_TIPO-TITLE]%: <strong>%[PR_TIPO]%</strong> <span class="pratica-resalt-01">(Recupero Crediti)</span></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_OPERATORE-TITLE]%: <strong>%[PR_OPERATORE]%</strong> <span class="pratica-resalt-01">(Studio Legale GMV (Milano))</span></td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_VALORE-TITLE]%: <strong>%[PR_VALORE]%</strong></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_FIDO-TITLE]%: <strong>%[PR_FIDO]%</strong> </td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_CRITERIO-TITLE]%: <strong>%[PR_CRITERIO]%</strong></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_COMP_COD-TITLE]%: <strong>%[PR_COMP_COD]%</strong></td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_NPROVV-TITLE]%: <strong>%[PR_NPROVV]%</strong></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_NRUOLO-TITLE]%: <strong>%[PR_NRUOLO]%</strong></td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_GIUDICE-TITLE]%: <strong>%[PR_GIUDICE]%</strong> </td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_REPERTORIO-TITLE]% <span class="pratica-resalt-01">(1/9)</span>: <strong>%[PR_REPERTORIO]% </strong></td>
              </tr>
                  </table>
	      <p align="center">%[BUTTON1-TITLE]% | %[BUTTON2-TITLE]%</p>
	    </div>
