	    <div class="pratica" >
	      <table width="100%"  border="0" cellspacing="1">
              <tr>
                <th id="PRAT" width="50%" align="left"> <span class="pratica-tit">%[PR_CODICE]% </span></th>
                <th width="50%" align="right">%[PR_NUMERO-TITLE]%: <span class="pratica-tit">%[PR_NUMERO]% </span></th>
              </tr>

<tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">


%[PR_OGGETTO-TITLE]%: <strong>%[PR_OGGETTO]%</strong></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'"><strong>%[PR_SCHEDARIO-TITLE]%: 
%[PR_SCHEDARIO]%</strong>
</td>
              </tr>


              <tr>
                <td id="STATO" width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_STATO-TITLE]%: <strong>%[PR_STATO]%</strong> <span class="pratica-resalt-01"></span></td>
                <td id="Pos" width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_FASE-TITLE]%: <strong>%[PR_FASE]%</strong> <span class="pratica-resalt-01"></span></td>
              </tr>

              <tr>
                <td id="TIPO" width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_TIPO-TITLE]%: <strong>%[PR_TIPO]%</strong> <span class="pratica-resalt-01"></span></td>
                <td id="Pos" width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_OGGETTO2-TITLE]%: <strong>%[PR_OGGETTO2]%</strong> <span class="pratica-resalt-01"></span></td>
              </tr>

              <tr>
                <td id="RESP"  width="100%"  colspan="2" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_OPERATORE-TITLE]%: <strong>%[PR_OPERATORE]%</strong></td>
              </tr> 

                <td id="PA1a"  width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'"> %[PR_REF_IDCLIENTE-TITLE]%: </strong>%[PR_REF_IDCLIENTE]%</strong></td>
                <td id="PA2a"  width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_REF_IDBENEFIC-TITLE]%: </strong>%[PR_REF_IDBENEFIC]%</strong></td>
              </tr>
              <tr>
                <td id="PA1b"  width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_REF_IDAVVR-TITLE]%: </strong>%[PR_REF_IDAVVR]%</strong></td>
                <td id="PA2b"  width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_REF_IDALTRI-TITLE]%: </strong>%[PR_REF_IDALTRI]%</strong></strong></td>
              </tr>


              <tr>
                <td id="AG1a"  width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_COMP_DESC-TITLE]%: <strong>%[PR_COMP_DESC]%  </strong></td>
                <td id="AG1b"  width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_LUOGO_UFF_GIUD-TITLE]%: <strong>%[PR_LUOGO_UFF_GIUD]%</strong></td>
              </tr>
              <tr>
                <td id="AG2a" style="display:inline" width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_GIUDICE-TITLE]%: <strong>%[PR_GIUDICE]%</strong></strong></td>
                <td id="AG2b" width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'"></strong>%[PR_NRUOLO-TITLE]%: <strong>%[PR_NRUOLO]%</td>
              </tr>
              <tr>
                <td id="AG3a" width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_NRUOLO_ALTRI-TITLE]%: <strong>%[PR_NRUOLO_ALTRI]%</td>
                <td id="PN2a"  width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_CRITERIO-TITLE]%: <strong>%[PR_CRITERIO]%</strong></td>
                <!--<td id="AG3b"  width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_REFERRAL-TITLE]%: <strong>%[PR_REFERRAL]% </strong></td>-->
              </tr>

               <tr>
                <td id="UF1a"  width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_DEPT-TITLE]%: <strong>%[PR_DEPT]% </strong></td>
                <td id="UF2b" width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_PROF_ORIG-TITLE]%: <strong>%[PR_PROF_ORIG]% </strong></td>
               </tr>
              <tr>
                <td id="PN1a"  width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_VALORE-TITLE]%: <strong>%[PR_VALORE]%</strong></td>
                <td id="PN1b"  width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_FIDO-TITLE]%: <strong>%[PR_FIDO]%</strong> </td>
              </tr>

              <tr>
                <!--<td id="PN2b"  width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_COMP_COD-TITLE]%: <strong>%[PR_COMP_COD]% </strong></td>-->
              </tr>

              <tr>
                <td id="PN3a"  width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_ON_ORAR-TITLE]%: <strong>%[PR_ON_ORAR]% &euro;</strong></td>
                <td id="PN3b"  width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'"><!--%[PR_PERC_ONOR-TITLE]%: <strong>%[PR_PERC_ONOR]% %--></strong></td>
              </tr>

              <tr>
                <td id="AD1a"  width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_DATA_INS-TITLE]%:<strong>%[PR_DATA_INS]%</strong></td>
                <td id="AD1b" width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_DATA_MOD-TITLE]%:<strong>%[PR_DATA_MOD]%</strong></td>
              </tr>

              <tr>
                <td id="AD2a"  width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_DATA_INIZIO-TITLE]%: <strong>%[PR_DATA_INIZIO]%</strong></td>
                <td  id="AD2b"  width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'"></td>
              </tr>


              <tr>
                <td id="NO" width="100%"  colspan="2" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">Note: %[NOTE]%
		</td>
              </tr>


               <tr>
                <td id="CP1a"  width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PR_RIUNITA_A-TITLE]%: %[PR_RIUNITA_A]%</td>

                <td id="CP1b"  width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'"><!--%[PR_RIUNITA_IL-TITLE]%: %[PR_RIUNITA_IL]%--></td>
              </tr>


              <tr>
                <th id="CP2" width="100%" align="left" colspan="2"><center><b> Pratiche collegate o riunite a: %[PR_CODICE]% </b></center></th>
              </tr>
              <tr>
                <td id="CP3"  width="100%"  colspan="2" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[RIUN_LIST-TITLE]%</td>
              </tr>  

              <tr>
                <th width="100%" align="left" colspan="2"><center><b> %[PR_SCAD-TITLE]%</b></center></th>
              </tr>
              <tr>
                <td width="100%"  colspan="2" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[SCAD_LIST-TITLE]%</td>
              </tr>
       
           </table>





		<p align="center">%[BUTTON_W-TITLE]% | %[BUTTON_M-TITLE]% | %[BUTTON_SITCONT-TITLE]% <!--| %[BUTTON_CONTR_UNIF-TITLE]% --></p>
	      <p align="center">%[BUTTON_SCAD-TITLE]% | %[BUTTON_PRES-TITLE]% | %[BUTTON_DOC-TITLE]% <!--| %[BUTTON_DBOX-TITLE]%  -->
</p>
	      <p align="center"> %[BUTTON_NEWSCAD-TITLE]% | %[BUTTON_NEWPRES-TITLE]%  | %[BUTTON_NEWDOC-TITLE]% 

	    </div>
