	    <div class="pratica" >
	      <table width="100%"  border="0" cellspacing="1">
              <tr>
                <th id="CODICE" colspan="2" width="100%" align="left"><span class="pratica-tit"> %[CODICE]%</span></th>
             </tr>
             <tr>
                <td width="100%" colspan="2" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[NOME-TITLE]%: <span class="pratica-resalt-01">%[NOME]%</span></td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[INDIRIZZO-TITLE]%: <span class="pratica-resalt-01">%[INDIRIZZO]%</span></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[CITTA-TITLE]%: <span class="pratica-resalt-01">%[CITTA]%</span> (%[CAP]%) %[STATO]% %[COUNTRY]%</td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[EMAIL-TITLE]%: <span class="pratica-resalt-01"><a href="mailto:%[EMAIL]%">%[EMAIL]%</a></span></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[CODUNIV-TITLE]%: <span class="pratica-resalt-01">%[CODUNIV]%</span></td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">Telefono: <span class="pratica-resalt-01">%[TELEFONO-TITLE]%</span></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">Skype: <span class="pratica-resalt-01">%[SKYPE-TITLE]%</span></td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">Cellulare: <span class="pratica-resalt-01">%[MOBILE-TITLE]%</span></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[FAX-TITLE]%: <span class="pratica-resalt-01">%[FAX]%</span></td>
              </tr>
              <tr>
              <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[ACCOUNTM-TITLE]%: <span class="pratica-resalt-01">%[ACCOUNTM]%</span></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[MANSIONE-TITLE]%: <span class="pratica-resalt-01">%[MANSIONE]%</span></td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[TIPO_CONTATTO-TITLE]%: <span class="pratica-resalt-01">%[TIPO_CONTATTO]%</span></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[REF_CONTATTO-TITLE]%: <span class="pratica-resalt-01">%[REF_CONTATTO]%</span></td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[TIPO-TITLE]%: <span class="pratica-resalt-01">%[TIPO]%</span></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[SHAREDFOLDER-TITLE]%: <span class="pratica-resalt-01">%[SHAREDFOLDER]%</span></td>
              </tr>
              <tr>
                <td width="100%" colspan="2" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">
		<b>%[NOTE-TITLE]%</b>: %[NOTE]%</td>
              </tr>
              <tr>
                <th colspan="2" width="100%" align="center"><b> %[COMP_DATA-TITLE]%</b></th>
             </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PIVA-TITLE]%: <span class="pratica-resalt-01">%[PIVA]%</span></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[LEG_RAP-TITLE]%: <span class="pratica-resalt-01">%[LEG_RAP]%</span></td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[ISCR_CCIA-TITLE]%: <span class="pratica-resalt-01">%[ISCR_CCIA]%</span></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[ISCR_TRIB-TITLE]%: <span class="pratica-resalt-01">%[ISCR_TRIB]%</span></td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[LUOGO-TITLE]%: <span class="pratica-resalt-01">%[LUOGO]%</span></td>
              <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[DATA-TITLE]%: <span class="pratica-resalt-01">%[DATA]%</span></td>
              </tr>

           	<!--%[PRO_RESTR-TITLE]%-->
           	%[PRAT_COL-TITLE]%
              </table>
	      <p align="center">%[BUTTON1-TITLE]% | %[BUTTON2-TITLE]% | %[BUTTON3-TITLE]%</p>
	      <p align="center">%[BUTTON_SITCONT-TITLE]%</p>
	    </div>
