.horbar	{
	color: black;
	background-color: #dcdad5;
	border: 2px outset #cecac1;
}

.horbaritem	{
	float: left;
	white-space: nowrap;
	font-family: luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 14px;
}

.horbaritem a	{
	display: block;
	text-decoration: none;
}

.horbaritem a:link	{
	color: #000000;
	text-decoration: none;
}

.horbaritem a:visited	{
	color: #000000;
	text-decoration: none;
}

.horbaritem a:hover	{
	color: #ffffff;
	background-color: #4b6983;
	text-decoration: none;
}

.horbaritem a:active	{
	color: #ff0000;
	text-decoration: none;
}

.verbar	{
	color: black;
	background-color: #dcdad5;
	border: 2px outset #cecac1;
}

.submenu	{
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
}

.subframe	{
	position: relative;
	display: block;
	background-color: #dcdad5;
	border: 2px outset #cecac1;
}

.item	{
	text-align: left;
	white-space: nowrap;
	font-family: luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 14px;
}

.item a	{
	position: relative;
	display: block;
	text-decoration: none;
}

.item a:link	{
	color: #000000;
	text-decoration: none;
}

.item a:visited	{
	color: #000000;
	text-decoration: none;
}

.item a:hover	{
	color: #ffffff;
	background-color: #4b6983;
	text-decoration: none;
}

.item a:active	{
	color: #ff0000;
	text-decoration: none;
}

.item .fwdarr	{
	position: absolute;
	top: 5px;
/*	right: 4px; */
	right: 7px;
}

.separator	{
	background-color: #ff0000;
	border-top: 1px solid #9e9a91;
	border-bottom: 1px solid #ffffff;
	margin: 2px 0px 2px 1px;	/* top right bottom left */
	height: 0;
	font-size: 1px;
	line-height: 0;
}

