.khorbar	{
	color: black;
	background-color: #eeeee6;
	border: 1px outset #666663;
}

.khorbaritem	{
	float: left;
	white-space: nowrap;
	font-family: luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 14px;
}

.khorbaritem a	{
	display: block;
	text-decoration: none;
}

.khorbaritem a:link	{
	color: #000000;
	text-decoration: none;
}

.khorbaritem a:visited	{
	color: #000000;
	text-decoration: none;
}

.khorbaritem a:hover	{
	color: #000000;
	background-color: #ffdd76;
	text-decoration: none;
}

.khorbaritem a:active	{
	color: #ff0000;
	text-decoration: none;
}

.kverbar	{
	color: black;
	background-color: #eeeee6;
	border: 1px outset #666663
}

.ksubmenu	{
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
}

.ksubframe	{
	position: relative;
	display: block;
	background-color: #f9f9f0;
	border: 1px outset #666663
}

.kitem	{
	text-align: left;
	white-space: nowrap;
	font-family: luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 14px;
}

.kitem a	{
	position: relative;
	display: block;
	text-decoration: none;
}

.kitem a:link	{
	color: #000000;
	text-decoration: none;
}

.kitem a:visited	{
	color: #000000;
	text-decoration: none;
}

.kitem a:hover	{
	color: #000000;
	background-color: #ffdd76;
	text-decoration: none;
}

.kitem a:active	{
	color: #ff0000;
	text-decoration: none;
}

.kitem .kfwdarr	{
	position: absolute;
	top: 4px;
	right: 11px;
}

.kseparator	{
	background-color: #ff0000;
	border-top: 1px solid #c6c6bf;
	border-bottom: 1px solid #ffffff;
	margin: 2px 5px 2px 5px;	/* top right bottom left */
	height: 0;
	font-size: 1px;
	line-height: 0;
}

