	    <div class="pratica" >
	      <table width="100%"  border="0" cellspacing="1">
              <tr>
                <th id="TITOLO_TIPO" colspan="2" width="100%" align="left"><span class="pratica-tit">%[TYPE_APP]% </span></th>
             </tr>


<tr>
                <td id="DESC" width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">
%[TITLE-TITLE]%: <span class="pratica-resalt-01">%[TITLE]%</span></td>
                <td id="PROV" width="50%" colspan="2" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'"></strong>%[PROVENIENZA-TITLE]%:</strong> <span class="pratica-resalt-01">%[PROVENIENZA]%</span>
</td>
            </tr>


<tr>
                <td id="TIPO" width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'"> <span class="pratica-resalt-01">%[TYPE]%</span></td>
                <td id="DINAM" width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'"> <span class="pratica-resalt-01">%[DONE]%</span></td>
</tr>
            <tr>
                <td  id="DATA" width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[DAY-TITLE]%: <span class="pratica-resalt-01">%[DAY]%</span> - %[TIME-TITLE]% <span class="pratica-resalt-01">%[TIME]%</span></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">

%[DAYEND-TITLE]%: <span class="pratica-resalt-01">%[DAYEND]%</span>
</td>
              </tr>
            <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[REF_PRAT-TITLE]%: <span class="pratica-resalt-01">%[REF_PRAT]%</span></td>
                <td id="PRIOR" width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[PRIORITA-TITLE]%: <span class="pratica-resalt-01">%[PRIORITA]%</span></td>
            </tr>

            <tr>
                <td id="OPERAT" width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">
%[OPERATOR-TITLE]%: <span class="pratica-resalt-01">%[OPERATOR]%</span>
</td>
                <td id="CODICE" width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">
%[CODICE-TITLE]%: <span class="pratica-resalt-01">%[CODICE]%</span>
</td>
            </tr>
            <tr>
                <td id="NOTUL" width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">
%[NOTULATO-TITLE]%: <span class="pratica-resalt-01">%[NOTULATO]%</span>

</td>
                <td >
</td>
            </tr>
            <tr>
                <td id="NOTE" width="100%" colspan="2" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'"><strong>%[NOTE-TITLE]%:</strong> %[NOTE]%</td>
            </tr>


            <td width="100%" colspan="2" >
	    <div id="ModuloRinvio" style="display: none;">   
	    <a href="javascript:ApriChiudiGestioneRinvio()" style="text-decoration: none">
	    <span class="pratica-resalt-01"><center>ESITO / RINVIO <img id="ImmFlecchia" src="%[IMAGE_GPATH]%ico/home_flecchia_inf.gif" name="fle_appunt_home" width="16" height="16" border="0" align="absmiddle" id="fle_opz_01"></span></center>
	    </a>
	    <div id="GestRinvio" style="display: none;">         
	    <iframe   " VSPACE="0" name="FrameRinvio" id="FrRinvio" src="/modules/calendar/pages/modulo_rinvio.php"  width="100%" height="295" frameborder=0 MARGINWIDTH="0" marginheight="0"> 
	    </iframe>
	    </div>
	    </div>

</td>
            </tr>

                  </table>



	      <p align="center">

%[BUTTON_W-TITLE]% | %[BUTTON_D-TITLE]% | %[BUTTON_DOPRES-TITLE]%

</p>
	      <p align="center">%[BUTTON_PRAT-TITLE]% | %[BUTTON_PRES-TITLE]% | %[BUTTON_SCAD-TITLE]% | %[BUTTON_DOC-TITLE]%  <!--| %[BUTTON_DBOX-TITLE]% --></p>
	    </div>
