	    <div class="pratica" >
	      <table width="100%"  border="0" cellspacing="1">
              <tr >
                <th id="DESC"  width="50%" align="left"><span class="pratica-tit">%[TESTO]%</span></th>

                <th width="50%" align="right">%[NOTA1-TITLE]% %[NOTA1]% / %[NOTA2]% &nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp; %[FATTURA1-TITLE]% %[FATTURA1]% / %[FATTURA2]%</th>
                
              </tr>

              <tr>
                <td id="DATA" width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'" >%[DATA-TITLE]%: <span class="pratica-resalt-01">%[DATA]%</span>
		</td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[OPERATORE-TITLE]%: <strong>%[OPERATORE]%</strong></td>
              </tr>

              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[CODICE-TITLE]%: <strong>%[CODICE]%</strong></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[REF_ID-TITLE]%: <span class="pratica-resalt-01"><strong>%[REF_ID]%</strong></span></td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'" colspan="2">%[OPERATORE-TITLE]%: <strong>%[OPERATORE]%</strong></td>
              </tr>

              <tr>
                <td id="NOTE" width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'" colspan="2"><strong>%[NOTE-TITLE]%: </strong>%[NOTE]%</td>
              </tr>




              <tr>
              <th colspan="2" align="center">%[COST-TITLE]%</th>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[QUANTITA-TITLE]%: <strong>%[QUANTITA]%</strong> &nbsp; %[UNITA_MISURA-TITLE]%: <strong>%[UNITA_MISURA]%</strong></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[TEMPO-TITLE]%: <strong>%[TEMPO]%</strong> &nbsp; %[CRITERIO-TITLE]%: <strong>%[CRITERIO]%</strong></td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[SPESE_IMPONIBILI-TITLE]%: <strong>%[SPESE_IMPONIBILI]%</strong></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[ONORARI-TITLE]%: <strong>%[ONORARI]%</strong> </td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[SPESE_NON_IMPONIBILI-TITLE]%: <strong>%[SPESE_NON_IMPONIBILI]%</strong></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[ON_ONORARI-TITLE]%: <strong>%[ON_ONORARI]%</strong></td>
              </tr>
              <tr>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[DIRITTI-TITLE]%: <strong>%[DIRITTI]%</strong></td>
                <td width="50%" onMouseOver="this.className='pratica-over-sub'" onMouseOut="this.className='null'">%[ON_UTENTE-TITLE]%: <strong>%[ON_UTENTE]%</strong></td>
              </tr>
              <tr>
              <td colspan="2" class="form-riga-sep"> </td>
              </tr>
              <tr>
                <td width="50%" bgcolor="#F9EDCC">%[ACCONTI-TITLE]%: <strong>%[ACCONTI]%</strong> </td>
                <td width="50%" bgcolor="#F9EDCC">%[ANTICIPAZIONI-TITLE]%: <strong>%[ANTICIPAZIONI]% </strong></td>
              </tr>
                  </table>
	      <p align="center">%[BUTTON_W-TITLE]% | %[BUTTON_D-TITLE]%</p>
	      	      <p align="center">%[BUTTON_PRAT-TITLE]% |  %[BUTTON_SCAD-TITLE]%  |  %[BUTTON_PRES-TITLE]%  | %[BUTTON_DOC-TITLE]%  <!--| %[BUTTON_DBOX-TITLE]%--> </p>
	    </div>
