<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>%[TXT_TITLE]%</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="%[CSS_GPATH]%stili_sutti_main.css" rel="stylesheet"
	type="text/css">
<script language="JavaScript" type="text/javascript"
	src="%[JS_GPATH]%include_01.js"></script>
</head>
<body
	style="background-color: #B9B4A2; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000; margin: 0px; padding: 0px 10px 10px;"
	class="per-riga-sep">



%[PAGE_CONTENT]%


</body>
</html>
